* {
    font-family: 'Jua', sans-serif;
}
a:hover {
    color: red;
}
h2 {
    width: fit-content;
    margin: auto;
}
/*로그인 창*/
.wrap {
    min-width: 500px;
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 200px;
}
.wrapper {
    width: 400px;
    min-height: 100%;
}
.login__btn > button {
    width: 400px;
    margin-top: 20px;
}
/*회원 가입 창*/
.wrap_singup {
    min-width: 500px;
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 200px;
}