<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/index.css">
    <title>Home | The Ball</title>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        // 로그아웃
        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = '/'
        }

        // 종목 api
        function baseball() {
            $('#post').empty()

            $.ajax({
                type: 'GET',
                url: '/index_baseball',
                data: {},
                success: function (response) {
                    let rows = response['team_list']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let logo = rows[i]['logo']
                        let rank = rows[i]['rank']
                        let home = rows[i]['home']

                        let temp_html = ` <div class="col-sm-6">
                                            <div class="card">
                                                <button type="button" class="btn btn-outline-dark">응원하기</button>
                                                <div class="card-body">
                                                    <h4 class="card-title">${name}</h4>
                                                    <img src="${logo}" class="logo_image">
                                                    <ul>
                                                       <li>2021 성적 : ${rank} </li>
                                                       <li>홈구장 : ${home} </li>
                                                    </ul>
                                                </div>
                                             </div>
                                            </div>`

                        $('#post').append(temp_html)
                    }
                }
            })
        }

        function basketball() {
            $('#post').empty()
            $.ajax({
                type: 'GET',
                url: '/index_basketball',
                data: {},
                success: function (response) {
                    let rows = response['team_list']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let logo = rows[i]['logo']
                        let rank = rows[i]['rank']
                        let home = rows[i]['home']

                        let temp_html = ` <div class="col-sm-6">
                                            <div class="card">
                                                <button type="button" class="btn btn-outline-dark">응원하기</button>
                                                <div class="card-body">
                                                    <h4 class="card-title">${name}</h4>
                                                    <img src="${logo}" class="logo_image">
                                                    <ul>
                                                       <li>2021 성적 : ${rank} </li>
                                                       <li>홈구장 : ${home} </li>
                                                    </ul>
                                                </div>
                                             </div>
                                            </div>`

                        $('#post').append(temp_html)
                    }
                }
            })
        }

        function volleyball() {
            $('#post').empty()
            $.ajax({
                type: 'GET',
                url: '/index_volleyball',
                data: {},
                success: function (response) {
                    let rows = response['team_list']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let logo = rows[i]['logo']
                        let rank = rows[i]['rank']
                        let home = rows[i]['home']

                        let temp_html = ` <div class="col-sm-6">
                                            <div class="card">
                                                <button type="button" class="btn btn-outline-dark">응원하기</button>
                                                <div class="card-body">
                                                    <h4 class="card-title">${name}</h4>
                                                    <img src="${logo}" class="logo_image">
                                                    <ul>
                                                       <li>2021 성적 : ${rank} </li>
                                                       <li>홈구장 : ${home} </li>
                                                    </ul>
                                                </div>
                                             </div>
                                            </div>`

                        $('#post').append(temp_html)
                    }
                }
            })
        }

        function soccer() {
            $('#post').empty()
            $.ajax({
                type: 'GET',
                url: '/index_soccer',
                data: {},
                success: function (response) {
                    let rows = response['team_list']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let logo = rows[i]['logo']
                        let rank = rows[i]['rank']
                        let home = rows[i]['home']

                        let temp_html = ` <div class="col-sm-6">
                                            <div class="card">
                                                <button type="button" class="btn btn-outline-dark">응원하기</button>
                                                <div class="card-body">
                                                    <h4 class="card-title">${name}</h4>
                                                    <img src="${logo}" class="logo_image">
                                                    <ul>
                                                       <li>2021 성적 : ${rank} </li>
                                                       <li>홈구장 : ${home} </li>
                                                    </ul>
                                                </div>
                                             </div>
                                            </div>`

                        $('#post').append(temp_html)
                    }
                }
            })
        }
    </script>
</head>
<body>
<!-- 상단 바 -->
<nav class="navbar">
    <!-- 로고 -->
    <div class="navbar__logo">
        <h1>The Ball</h1>
    </div>
    <!-- 상단 바 메뉴 -->
    <ul class="navbar__menu">
        <li>
            <button onclick="soccer()">축구</button>
        </li>
        <li>
            <button onclick="baseball()">야구</button>
        </li>
        <li>
            <button onclick="basketball()">농구</button>
        </li>
        <li>
            <button onclick="volleyball()">배구</button>
        </li>
    </ul>
    <ul>
        <!-- 로그인 시 화면 -->
        {% if username %}
            <button class="navbar__mypage" onclick="window.location.href='/user'">마이페이지</button>
            <button class="navbar__logout" onclick="logout()">로그아웃</button>

            <!-- 비로그인 시 화면 -->
        {% else %}
            <button class="navbar__login" onclick="window.location.href='/login'">로그인</button>
            <button class="navbar__signup" onclick="window.location.href='/register'">회원가입</button>
        {% endif %}
    </ul>
</nav>
<div class="main__image">
    <img src="../static/img/main.jpg" alt="메인 이미지">
</div>

    <!-- 구단 CARD -->
    <div class="row" id="post">
    </div>

<!-- Footer -->
<footer class="footer">
    <ul>
        <li class="footer__logo"><img src="../static/img/logo.png" alt="항해 로고"></li>
        <li class="footer__team"><strong>C반 10조 정연욱 조세림 최서우 이소영</strong></li>
    </ul>
</footer>
</body>
</html>